@media screen and (min-width:768px) {
    #login-box {
        width: 80vw;
        
    }
    #half-up {
        float: left;
        width: 30%;
        height: 100%;
       
    }
    div#half-down {
        float: right;
        width: 70%;

    }
    h1  {
        margin-top: 40px;
        
    }
    p {
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 1.1em;
    }
    #input-box > #email, #password {
        width: 90%;
    }
}

@media screen and (min-width:992px) {
    #login-box {
        width: 90vw;
    }
    div#half-up {
        width: 50%;
        float: right;
    }
    div#half-down {
        width: 50%;
        float: left;
    }

}