@media screen and (min-width:768px) {
    #login-box {
        width: 90vw;
        
    }
    #half-up {
        float: left;
        width: 30%;
        height: 100%;
       
    }
    div#half-down {
        float: right;
        width: 65%;
    }
    h1, p {
        margin-bottom: 20px;
        margin-top: 100px;
    }
    p {
        margin-bottom: 50px;
    }
    #input-box > #email, #password {
        width: 90%;
    }
}