* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    width: 100vw;
    height: 100vh;
}
body {

}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#login-box {
    width: 350px;
    height: 600px;
    background-color: white;



    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.63);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    

}
#half-up {
    background: url(../imagens/metal.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    display: block;
}

#half-down {
    background-color: white;
    
    border-radius: 0px 0px 40px 40px;
    height: 200px;
    display: block;
    padding: 10px;
}
#half-down > h1 {
    text-align: center;
}
h1, p {
    padding: 7px;
}
p {
    text-align: center;
    margin-bottom: 10px;
}

form {
    text-align: center;
}
#input-box {
    background-color: #5f2c82;
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 50px;
    margin: 5px 0;
}
#input-box > input:focus-within {
    background-color: white;
}
#input-box > label > span {
    font-size: 2em;
    width: 40px;
    padding: 5px;
    transform: translateY(3px);
    color: white;
}
#input-box > input {
    justify-content: center;
    
    width: 100% ;
    padding: 4px;
    font-size: 0.9em;
    border-radius: 10px;
    border: 1px solid #5f2c82;
    background-color: #94cfcd;
    
}
#login-button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #53aaa7;
    border-radius: 10px;
    margin: 4px 0;
    cursor: pointer;
}


